<div class="block">
  <div  class="buble"
        style=" font-family: cursive; font-size: 15px;">
    <br>
    <h1>Добавить информацию</h1>
    <input type="text" style="color: #777; margin-left: 65px; width: 500px; " value = "Введите имя" onfocus="if (this.value == 'Введите имя') {this.value = ''; this.style.color = '#000';}" onblur="if (this.value == '') {this.value = 'Введите имя'; this.style.color = '#777';}">
    <div class="text">
      <img src="../../assets/img/logo/vkontakte_PNG25.png" style="width: 40px;">
      <input type="text" disabled style="color: #000; background-color: white; width: 210px;" value = "vk.com/">
      <input type="text" style="color: #777; right:0px; " value = "Введите адрес" onfocus="if (this.value == 'Введите адрес') {this.value = ''; this.style.color = '#000';}" onblur="if (this.value == '') {this.value = 'Введите адрес'; this.style.color = '#777';}">
      <img src="../../assets/img/logo/instagram-256x256.png" style="width: 40px;"><input type="text" disabled style="color: #000; background-color: white; width: 210px;" value = "instagram.com/">
      <input type="text" style="color: #777; right:0px; " value = "Введите адрес" onfocus="if (this.value == 'Введите адрес') {this.value = ''; this.style.color = '#000';}" onblur="if (this.value == '') {this.value = 'Введите адрес'; this.style.color = '#777';}">
    </div>
    <div class="centre" >
      <button>Добавить</button> <!-- сюда подтягивать действие -->
    </div>
  </div>
</div>
