<!--The content below is only a placeholder and can be replaced.-->

<div class="page_header">
  <table class="logo" style="margin-top: 0px;">
    <tr>
      <td style="width: 400px">
        LS
      </td>
      <td class="lout" style="margin-top: 10px; left: 0px; width: 300px"  *ngIf="isLogIn">
        <button class="lout" (click)="add()" *ngIf="isLogIn">Добавить</button>
      </td>
      <td class="lout" style="margin-top: 10px; left: 0px; width: 300px"  *ngIf="isLogIn">
        <button class="lout" (click)="posts()" *ngIf="isLogIn">Лента</button>
      </td>
      <td class="lout" style="margin-top: 10px; left: 0px; width: 300px" *ngIf="isLogIn">
        <button class="lout" (click)="logout()">Выход</button>
      </td>
    </tr>
  </table>
</div>
<!--<div  id="filtr">
</div>
<a class="triangle" href="#filtr"></a>
Если мне будет не слишком западло доделывать кнопку прокрутки вверх-->

<div class="block">
  <router-outlet></router-outlet>
</div>

