
.page_header {
  position: fixed;
  height: 80px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 120;
  direction: ltr;
  background-color: green;
}
.text{
  font-family: cursive;
  text-align: left;
  font-size: 30px;
  margin: 10px 20px 5px 20px;
}
.logo{
  /*margin: 20px 20px 20px 30%;*/

  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: Marker Felt, fantasy;
  width:  990px;
}

.lout{
  background: green;

  height: 40px;
  width: 300px;
  font-size: 20px;
  font-family: cursive;
  color: white;
  box-shadow: 0 0 0 0 green;
  border-radius: 20px 20px 20px 20px;
  border: 0;
  padding: 0;
}

.lout:hover{
  background: #cfc;
  color: black;
}
.block{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
