<div class="filter">
  <div class="buble">
    <button class="phb" style="border-radius: 20px 20px 0px 0px; ">Все</button>
    <input type="text" id="person"
           value="Поиск" onfocus="if (this.value == 'Поиск') {this.value = ''; this.style.color = '#000';}"
           onblur="if (this.value == '') {this.value = 'Поиск'; this.style.color = '#777';}"/>
    <!--подумать головой и придумать какую-нибудь красивую штуку с вводом текста-->
    <button class="phb">Выбрать человека</button>

    <select class="chgr">
      <option value="1" selected disabled>
        <div style="color: #f00;">Выбор группы</div>
      </option>
      <option value="2">Группа1</option>
      <option value="3">Группа2</option>
      <option value="4">Группа3</option>
      <option value="5">Группа4</option>
    </select>
    <button class="phb group" style="border-radius: 0px 0px 20px 20px;">Выбрать группу</button>

  </div>

  <div class="buble" style="font-size: 17px; font-family: cursive;">
    <table style="margin-left: 20px;">
      <div class="line">
        <tr>
          <td>Промежуток</td>
          <td><select name="timePeriod" style="width: 185px;">
            <option value="1" selected>Последний час</option>
            <option value="2">Последний день</option>
            <option value="3">Последний неделя</option>
            <option value="4">Последний месяц</option>
          </select></td>
        </tr>
      </div>
      <tr>
        <td><input type="checkbox"></td>
        <td>Источник</td>
        <td><select name="from" style="width: 185px;">
          <option value="1" selected>Все</option>
          <option value="2">ВКонтакте</option>
          <option value="3">Instagram</option>
          <option value="4">Facebook</option>
        </select></td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td>Еще фильтр</td>
        <td><select name="more" style="width: 185px;">
          <option value="1" selected>Кто знает</option>
          <option value="2">ВКонтакте</option>
          <option value="3">Instagram</option>
          <option value="4">Facebook</option>
        </select></td>
      </tr>
    </table>
  </div>
</div>

<ul>
  <li *ngFor="let post of posts">
    <div class="buble">
      <img class="new_per_pic" src="../../assets/img/manage-icon-png-29.jpg" >
      <br><a class="new_name" >{{post.person}}</a>
      <button class="save">+</button>
      <div class="new_time">
        {{post.date}}
      </div>

      <div class="new_text">
        {{post.text}}
      </div>
      <div class="image" *ngFor="let media of post.media">
        <img class="new_pic" src="{{media.link}}" >
      </div>
    </div>
  </li>
</ul>
